@charset "UTF-8";

.container {
    border: 2px solid black;
    height: 322px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
    gap: 10px; 
}

.item {
    border: 1px solid red;
}